/*
Author: Dorothy Deru
Date: November 29 2022
Purpose: to add style to personal site
*/

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: Courier, 'Courier New', Courier, monospace;
}
body {
    background-color:#E2F4FD;
    text-align: center;
    font-size: 22px;
    padding: 0;
    margin: 0; }
  
 .home-title {
    font: 50% "IM Fell French Cannon SC";
    font-size: 2em;
    margin-top: 10px;
    color: #FA1363; }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #E2F4FD;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        grid-column: 1/3;
        margin-right: 30%;
    }
    #hero-msg {
        grid-column: 1/3;
    }

    main {
        background-color: #E2F4FD;
    }
    nav a:hover {
        background-color: #28045A;
        color: aliceblue;
    }
    nav a{
        text-align: center;
        color: #28045A;
        text-decoration: none;
        padding: 35px;
    }
    .clothes img {
        width: 25%;
    }
    #logo_link img {
        width: 15%;
    }
    .social img {
        width: 10%;
    }